### Soal Tipe Data

In [27]:
# data

company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

#### Petunjuk:
Dari data di atas kerjakan soal di bawah untuk nomor **1 - 4**, sebisa mungkin gunakan comprehension loop apabila ada perulangan:

### 1 
Please get the list of all Companies and sort by **Company Domain** in reverse order.

Expected result:


```json
[{
    "name": "Company 1", 
    "domain": "Retail"
}, {
    "name": "Company 3", 
    "domain": "Healthcare"
}, {
    "name": "Company 2", 
    "domain": "Construction"
}]
```

In [17]:
# lengkapi function berikut
def sort_company():
    pass

In [37]:
company_detail_list = {
  'Company 1': {
    'name': 'Company 1',
    'domain': 'Retail',
    'clients': [
      {'name': 'acme.inc', 'country': 'united states'},
      {'name': 'Wayne.co', 'country': 'united states'}
    ]
  },
  'Company 2': {
    'name': 'Company 2',
    'domain': 'Construction',
    'clients': [
      {'name': 'Tesla', 'country': 'united states'},
      {'name': 'Japan Airlines', 'country': 'japan'},
      {'name': 'Indofood', 'country': 'indonesia'}
    ]
  },
  'Company 3': {
    'name': 'Company 3',
    'domain': 'Healthcare',
    'clients': [
      {'name': 'Petronas', 'country': 'malaysia'},
      {'name': 'VW Group', 'country': 'germany'},
      {'name': 'IBM', 'country': 'united states'},
      {'name': 'Mitsubishi', 'country': 'japan'}
    ]
  }
}

# Sort the company details by domain in reverse order
sorted_companies = sorted(company_detail_list.values(), key=lambda x: x['domain'], reverse=True)

# Convert the sorted list to a list of dictionaries
company_list = []
for company in sorted_companies:
  company_list.append({
    "name": company['name'],
    "domain": company['domain']
  })

print(company_list)

[{'name': 'Company 1', 'domain': 'Retail'}, {'name': 'Company 3', 'domain': 'Healthcare'}, {'name': 'Company 2', 'domain': 'Construction'}]

### 2
Please print all Domain value in every company.

Expected return:

```
Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients
```

In [27]:
# lengkapi function berikut
def get_company_domain():
    pass

In [38]:
company_detail_list = {
  'Company 1': {
    'name': 'Company 1',
    'domain': 'Retail',
    'clients': [
      {'name': 'acme.inc', 'country': 'united states'},
      {'name': 'Wayne.co', 'country': 'united states'}
    ]
  },
  'Company 2': {
    'name': 'Company 2',
    'domain': 'Construction',
    'clients': [
      {'name': 'Tesla', 'country': 'united states'},
      {'name': 'Japan Airlines', 'country': 'japan'},
      {'name': 'Indofood', 'country': 'indonesia'}
    ]
  },
  'Company 3': {
    'name': 'Company 3',
    'domain': 'Healthcare',
    'clients': [
      {'name': 'Petronas', 'country': 'malaysia'},
      {'name': 'VW Group', 'country': 'germany'},
      {'name': 'IBM', 'country': 'united states'},
      {'name': 'Mitsubishi', 'country': 'japan'}
    ]
  }
}

# Iterate through company details
for company_name, company_info in company_detail_list.items():
  domain = company_info['domain']
  num_clients = len(company_info['clients'])
  # Print formatted output with client count
  print(f"Company {company_name}: {domain}, relation: {num_clients} clients")

Company Company 1: Retail, relation: 2 clients
Company Company 2: Construction, relation: 3 clients
Company Company 3: Healthcare, relation: 4 clients

### 3
Create a function that return employees with it's company domain.

Expected return:


```json
[{
    "full_name": "John Doe",
    "company": "Company 1",
    "domain": "Retail"
}, {
    "full_name": "Tom Smith",
    "company": "Company 2",
    "domain": "Construction"
}, {
    "full_name": "Andrew Sebastian",
    "company": "Company 2",
    "domain": "Construction"
}]
```

In [45]:
# lengkapi function berikut
def get_employees():
    pass

In [40]:
def get_employees_with_domain(employee_detail_list, company_detail_list):
    # Create a list to store the results
    results = []

    # Iterate over the employee_detail_list
    for employee in employee_detail_list.values():
        # Get the company name from the employee
        company_name = employee['company']

        # Get the company details from the company_detail_list
        company_details = company_detail_list.get(company_name)

        # If the company exists, add the employee to the results with the company domain
        if company_details:
            results.append({
                'full_name': f"{employee['first_name']} {employee['last_name']}",
                'company': company_name,
                'domain': company_details['domain']
            })

    # Return the results
    return results

# Example usage
employee_detail_list = {
    'EMP-0001': {
        'name': 'EMP-0001',
        'first_name': 'John',
        'last_name': 'Doe',
        'full_name': 'John Doe',
        'company': 'Company 1'
    },
    'EMP-0002': {
        'name': 'EMP-0002',
        'first_name': 'Tom',
        'last_name': 'Smith',
        'full_name': 'Tom Smith',
        'company': 'Company 2'
    },
    'EMP-0003': {
        'name': 'EMP-0003',
        'first_name': 'Andrew',
        'last_name': 'Sebastian',
        'full_name': 'Andrew Sebastian',
        'company': 'Company 2'
    },
}

company_detail_list = {
    'Company 1': {
        'name': 'Company 1',
        'domain': 'Retail',
        'clients': [
            {'name': 'acme.inc', 'country': 'united states'}
        ]
    },
    'Company 2': {
        'name': 'Company 2',
        'domain': 'Construction',
        'clients': [
            {'name': 'Tesla', 'country': 'united states'},
            {'name': 'Japan Airlines', 'country': 'japan'},
            {'name': 'Indofood', 'country': 'indonesia'}
        ]
    },
}

result = get_employees_with_domain(employee_detail_list, company_detail_list)
print(result)

[{'full_name': 'John Doe', 'company': 'Company 1', 'domain': 'Retail'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'domain': 'Construction'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 2', 'domain': 'Construction'}]

### 4
Create a function that return companies with list of employees that are working in the company.

Expected return:


```json
[{
    "company": "Company 1",
    "employees": ["John Doe"]
}, {
    "company": "Company 2",
    "employees": ["Tom Smith", "Andrew Sebastian"]
}, {
    "company": "Company 3",
    "employees": []
}]
```

In [31]:
# lengkapi function berikut
def get_employees_by_company():
    pass

In [41]:
def get_companies_with_employees(employee_detail_list, company_detail_list):
    # Create a list to store the results
    results = []

    # Iterate over the company_detail_list
    for company_name, company_details in company_detail_list.items():
        # Create a list to store the employees for this company
        employees = []

        # Iterate over the employee_detail_list
        for employee in employee_detail_list.values():
            # If the employee's company matches the current company, add the employee to the list
            if employee['company'] == company_name:
                employees.append(employee['full_name'])

        # Add the company and the list of employees to the results
        results.append({
            'company': company_name,
            'employees': employees
        })

    # Return the results
    return results

# Example usage
employee_detail_list = {
    'EMP-0001': {
        'name': 'EMP-0001',
        'first_name': 'John',
        'last_name': 'Doe',
        'full_name': 'John Doe',
        'company': 'Company 1'
    },
    'EMP-0002': {
        'name': 'EMP-0002',
        'first_name': 'Tom',
        'last_name': 'Smith',
        'full_name': 'Tom Smith',
        'company': 'Company 2'
    },
    'EMP-0003': {
        'name': 'EMP-0003',
        'first_name': 'Andrew',
        'last_name': 'Sebastian',
        'full_name': 'Andrew Sebastian',
        'company': 'Company 2'
    },
}

company_detail_list = {
    'Company 1': {
        'name': 'Company 1',
        'domain': 'Retail',
        'clients': [
            {'name': 'acme.inc', 'country': 'united states'}
        ]
    },
    'Company 2': {
        'name': 'Company 2',
        'domain': 'Construction',
        'clients': [
            {'name': 'Tesla', 'country': 'united states'},
            {'name': 'Japan Airlines', 'country': 'japan'},
            {'name': 'Indofood', 'country': 'indonesia'}
        ]
    },
    'Company 3': {
        'name': 'Company 3',
        'domain': 'Healthcare',
        'clients': [
            {'name': 'Petronas', 'country': 'malaysia'},
            {'name': 'VW Group', 'country': 'germany'},
            {'name': 'IBM', 'country': 'united states'},
            {'name': 'Mitsubishi', 'country': 'japan'}
        ]
    },
}

result = get_companies_with_employees(employee_detail_list, company_detail_list)
print(result)

[{'company': 'Company 1', 'employees': ['John Doe']}, {'company': 'Company 2', 'employees': ['Tom Smith', 'Andrew Sebastian']}, {'company': 'Company 3', 'employees': []}]

### Soal pre-processing data

In [42]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [43]:
data_startup = pd.read_csv('50_Startups.csv')

FileNotFoundError: [Errno 2] No such file or directory: '50_Startups.csv'

In [44]:
data.head()

NameError: name 'data' is not defined

In [34]:
X = data.iloc[:,:-1].values
X

NameError: name 'data' is not defined

In [44]:
data_startup.sample(7)

    R&D Spend  Administration  Marketing Spend       State     Profit
45    1000.23       124153.04          1903.93    New York   64926.08
10        NaN       110594.11        229160.95     Florida  146121.95
20   76253.86       113867.30        298664.47  California  118474.03
32   63408.86       129219.61         46085.25  California   97427.84
40   28754.33       118546.05        172795.67  California   78239.91
14  119943.24       156547.42        256512.92     Florida  132602.65
6   134615.46       147198.87        127716.82  California  156122.51

In [32]:
y = data.iloc[:, -1].values
y

NameError: name 'data' is not defined

### Soal
Dari data di atas lakukan pre-processing sbb:
1. Lakukan analisa mengenai field mana saja yang memiliki data kosong(Nan) lalu Isi data yang kosong tersebut menggunakan nilai mean
2. lakukan oneHotEncoder ke field state
3. buat field baru yaitu Tax. dimana Tax = (profit + Marketing Spend + administration) * 5%
4. Jalankan standardScaler field-field tersebut

### Ketentuan dan Deadline

1. Buat masing-masing repositori di github account
2. Soal dikerjakan di repositori tsb.
3. Jawaban yang dikumpulkan di **e-learning** merupakan link github dari repositori di atas.
4. Deadline pengumpulan soal adalah hari rabu, 15 Mei 2024 pukul 23:59.